# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.Python

# PyInstaller
dist/
build/
*.spec

# IDE
.idea/
.vscode/
*.suo
*.user

# OS
Thumbs.db
.DS_Store
desktop.ini

# Project specific
*.zip
